<nav class="navbar navbar-expand bg-light">
    <div class="container py-2">
        <a class="navbar-brand" href="{% url 'home' %}"><h1>Booking</h1></a>
        <div class="navbar-nav">
        <a class="nav-link px-4" href="{% url 'home' %}">Home</a>
        <a class="nav-link px-4" href="{% url 'services' %}">Services</a>
        <a class="nav-link px-4" href="{% url 'specialists' %}">Specialists</a>
        <a class="nav-link px-4" href="{% url 'bookings' %}">Bookings</a>
        <a class="nav-link px-4" href="{% url 'new booking' %}">New booking</a>
        </div>
    </div>
</nav>
